<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="GarnetConnectionString" value="localhost:6379" />
    <add key="SystemId" value="system-Example-B" />

    <add key="serilog:minimum-level" value="Information" />
    
    <!-- 启用 Console 和 File 两个日志接收器 -->
    <add key="serilog:write-to" value="Console, File" />

    <!-- Console 日志的格式 -->
    <add key="serilog:write-to:Console.outputTemplate" value="[{Timestamp:HH:mm:ss} {Level:u3}] {Message:lj}{NewLine}{Exception}" />
    
    <!-- File 日志的配置 -->
    <add key="serilog:write-to:File.path" value="logs/adapter-b-.log" />
    <add key="serilog:write-to:File.rollingInterval" value="Day" />
    <add key="serilog:write-to:File.retainedFileCountLimit" value="7" />
    <add key="serilog:write-to:File.formatter" value="Serilog.Formatting.Json.JsonFormatter, Serilog" />
  </appSettings>
</configuration>